In [11]:
# Import dependencies
import pandas as pd
import numpy as np

In [18]:
# Read in the CSV files
merged_df = pd.read_csv('../rawData/merged_scripts.csv')
episode_df = pd.read_csv('../rawData/episode_info.csv')

# Drop the "Unnamed: 0" and "Unnamed: 0.1" columns
merged_df = merged_df.drop("Unnamed: 0", 1)
episode_df = episode_df.drop("Unnamed: 0", 1)

# Drop S01E00, since we don't have any sentiment for that
episode_df = episode_df[1:episode_df.shape[0]]

In [13]:
merged_df.tail()

,SEID,EpisodeNo,Season,SentimentTotal,LineCountTotal,WordCountTotal,SentimentJerry,LineCountJerry,WordCountJerry,SentimentGeorge,...,WordCountElaine,SentimentMainChars,LineCountMainChars,WordCountMainChars,SentimentSecondary,LineCountSecondary,WordCountSecondary,SentimentOther,LineCountOther,WordCountOther
168,S09E17,17,9,0.050767,301,3074,-0.052106,76,678,0.025762,...,412.0,0.059635,185,1912,0.097150,36.0,320.0,0.013003,80,842
169,S09E18,18,9,0.085210,299,2697,0.111630,72,579,0.123639,...,438.0,0.067078,200,1888,NaN,NaN,NaN,0.127525,99,809
170,S09E19,19,9,0.056641,364,2740,0.064530,105,619,0.055882,...,453.0,0.061166,264,1958,NaN,NaN,NaN,0.045311,100,782
171,S09E20,20,9,0.072543,316,2784,0.011879,75,585,0.038388,...,449.0,0.069342,229,2184,NaN,NaN,NaN,0.084193,87,600
172,S09E23,23,9,0.035249,713,6986,0.071567,151,1334,-0.022855,...,585.0,0.068273,390,3305,0.017131,45.0,527.0,0.003670,278,3154

In [19]:
episode_df.head()

,Season,EpisodeNo,Title,AirDate,Writers,Director,SEID,IMDB Rating
1,1,1,The Stakeout,31-May-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E01,7.8
2,1,2,The Robbery,7-Jun-90,Matt Goldman,Tom Cherones,S01E02,7.7
3,1,3,Male Unbonding,14-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E03,7.5
4,1,4,The Stock Tip,21-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E04,7.7
5,2,1,The Ex-Girlfriend,16-Jan-91,"Larry David, Jerry Seinfeld",Tom Cherones,S02E01,7.8

In [22]:
### Merge both data frames on SEID
seinfeld_df = pd.merge(episode_df, merged_df, on = "SEID", how = "left")
seinfeld_df.head()

,Season_x,EpisodeNo_x,Title,AirDate,Writers,Director,SEID,IMDB Rating,EpisodeNo_y,Season_y,...,WordCountElaine,SentimentMainChars,LineCountMainChars,WordCountMainChars,SentimentSecondary,LineCountSecondary,WordCountSecondary,SentimentOther,LineCountOther,WordCountOther
0,1,1,The Stakeout,31-May-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E01,7.8,1,1,...,381.0,0.190497,408,5304,0.11882,59.0,449.0,0.094559,90,829
1,1,2,The Robbery,7-Jun-90,Matt Goldman,Tom Cherones,S01E02,7.7,2,1,...,570.0,-0.019793,253,2994,NaN,NaN,NaN,0.190117,27,274
2,1,3,Male Unbonding,14-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E03,7.5,3,1,...,222.0,0.125019,196,2846,NaN,NaN,NaN,0.164124,45,530
3,1,4,The Stock Tip,21-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E04,7.7,4,1,...,375.0,0.038182,193,2999,NaN,NaN,NaN,0.053918,37,278
4,2,1,The Ex-Girlfriend,16-Jan-91,"Larry David, Jerry Seinfeld",Tom Cherones,S02E01,7.8,1,2,...,461.0,0.101939,222,3175,NaN,NaN,NaN,0.131408,23,273

In [23]:
# Drop EpisodeNo_y and Season_y
seinfeld_df = seinfeld_df.drop("EpisodeNo_y", 1)
seinfeld_df = seinfeld_df.drop("Season_y", 1)

# Rename EpsodeNo_x and Season_x
seinfeld_df = seinfeld_df.rename(index=str, columns = {"EpisodeNo_x": "EpisodeNo", "Season_x": "Season"})
seinfeld_df.head()

,Season,EpisodeNo,Title,AirDate,Writers,Director,SEID,IMDB Rating,SentimentTotal,LineCountTotal,...,WordCountElaine,SentimentMainChars,LineCountMainChars,WordCountMainChars,SentimentSecondary,LineCountSecondary,WordCountSecondary,SentimentOther,LineCountOther,WordCountOther
0,1,1,The Stakeout,31-May-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E01,7.8,0.173524,557,...,381.0,0.190497,408,5304,0.11882,59.0,449.0,0.094559,90,829
1,1,2,The Robbery,7-Jun-90,Matt Goldman,Tom Cherones,S01E02,7.7,-0.002193,280,...,570.0,-0.019793,253,2994,NaN,NaN,NaN,0.190117,27,274
2,1,3,Male Unbonding,14-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E03,7.5,0.131158,241,...,222.0,0.125019,196,2846,NaN,NaN,NaN,0.164124,45,530
3,1,4,The Stock Tip,21-Jun-90,"Larry David, Jerry Seinfeld",Tom Cherones,S01E04,7.7,0.039517,230,...,375.0,0.038182,193,2999,NaN,NaN,NaN,0.053918,37,278
4,2,1,The Ex-Girlfriend,16-Jan-91,"Larry David, Jerry Seinfeld",Tom Cherones,S02E01,7.8,0.104272,245,...,461.0,0.101939,222,3175,NaN,NaN,NaN,0.131408,23,273

In [24]:
# Export to CSV
seinfeld_df.to_csv('../rawData/seinfeld.csv')